.card {
    display: flex;
    flex-wrap: wrap;
}

.card__item {
    position: relative;
    max-width: 250px;
    text-align: center;
    cursor: pointer;
}

.card__item:hover {
    opacity: 0.4;
}

.card__image {
    width: 100%;
    max-width: 240px;
    object-fit: cover;

}

.card__price {
    display: flex;
    justify-content: center;
    align-items: center;
}