.constructor__list {
    display: flex;
    width: 100%;
    max-height: 40vh;
    min-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    list-style: none;
    padding: 10px 20px 10px 0;
}

.constructor__list-item {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.constructor__item {
    width: 100%;
    max-height: 4vh;
    margin: 0 auto;
  }

