.ingredient {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    height: 90vh;
  }

.text {
    text-align: center;
    line-height: 24px;
    margin: 0;
    padding-top: 8px;
}

.image {
    min-width: 30vw;
    margin: 0 auto;
}



.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}