.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    height: 90vh;
    max-width: calc(100% - 20%);
    margin: 0 auto;
}

.form__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav__text {
    width: 77%;
    margin: 0 auto;
    opacity: 0.6;
}

