.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__body {
    width: 50vw;
    background: #1c1c21;
    box-shadow: 20px 20px 59px #35355a, -20px -20px 59px #35355a;
    border-radius: 40px;
    border: 3px solid rgba(38, 19, 210, 0.672);
    box-sizing: border-box;
    position: relative;
    padding: 40px;
    animation: .6s hidden ease-in-out;

}

.modal__body.active {
    animation: .6s show ease-in-out;

}

.modal__button-close {
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    top: 40px;
    right: 40px;
}

.modal__button-close:hover {
    opacity: 0.4;
    transition: 0.3s opacity ease-in-out;
}

@keyframes show {
    from {
        opacity: 0;
        transform: scale(0.5);

    }
    to {
        opacity: 1;
        transform: scale(1);

    }
}


@keyframes hidden {
    from {
        opacity: 1;
        transform: scale(1);

    }
    to {
        opacity: 0;
        transform: scale(0.5);

    }
}