.popup__ingredient {
    display: flex;
    flex-direction: column;
    justify-content: center;  
  }

.popup__text {
    text-align: center;
    line-height: 24px;
    margin: 0;
    padding-top: 8px;
}

.popup__image {
    min-width: 30vw;
    margin: 0 auto;
}

.popup__body {
    background-color: #ffffff;
    border-radius: 2%;
    box-sizing: border-box;
    position: relative;
    padding: 34px 36px 37px 36px;
}

.popup__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}