.ingeredients {
    display: flex;
    flex-direction: column;
}

.ingeredients__tab {
    display: flex;
    width: 100%;
}

.ingeredients__conteiner {
    max-height: 65vh;
    overflow: scroll;
    overflow-x: hidden
}