.card__item {
    max-width: 300px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.card__item:hover {
    opacity: 0.4;
}

.card__image {
    width: 100%;
    object-fit: cover;

}

.card__price {
    display: flex;
    justify-content: center;
    align-items: center;
}